// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.has-error { border: #f00 1px solid; }
.invoice-links {
  a.active { font-weight: bold; }
}
